header {
  width: 100%;
  height: 10%;
  position: fixed;
  border-bottom: 2px solid var(--theme_gold);
  white-space: nowrap;
}

.logo {
  width: auto;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translate(-50%, -50%);
  z-index: 1;
  transition: 100ms;
}

.logo:hover {
  height: calc(100% - 0.1%);
}

#header1 {
  width: 100%;
  height: 35%;
  background-color: var(--theme_black);
}

.header1-content {
  height: 100%;
  margin-right: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.social-media {
  height: 100%;
}

.social-media > a {
  text-decoration: none;
}

.social-media > a > img {
  width: auto;
  height: 90%;
  border-radius: 50%;
  transition: 100ms;
}

.fb:hover {
  background-color: var(--theme_fb);
}

.ig:hover {
  background-color: var(--theme_ig);
}

.twitter:hover {
  background-color: var(--theme_twitter);
}

.header1-content > span {
  width: 0.1rem;
  height: 70%;
  background-color: var(--theme_white);
  margin: .5rem;
}

.search-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 50px;
  height: 80%;
}

.search-box:hover {
  background-color: var(--theme_blue);
}

.search-box:hover .search-txt {
  width: 10rem;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  color: var(--hover_white);
  width: 0px;
  padding-left: 0.7em;
  transition: 250ms ease-in-out;
}

.search-txt::placeholder {
  color: var(--theme_black);
  font-family: "Raleway", sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.search-btn {
  background: none;
  border: none;
  height: 100%;
  cursor: pointer;
}

.search-btn img {
  width: inherit;
  height: inherit;
  border-radius: 50px;
  margin-right: .3rem;
}

#header2 {
  width: 100%;
  height: 65%;
  background-color: rgba(17, 17, 17, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

nav {
  height: 100%;
}

nav ul {
  display: flex;

  height: 100%;
}

nav .nav-items {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: .5rem;
  position: relative;
}

nav .active {
  color: var(--theme_blue);
}

nav .inactive {
  color: var(--theme_white);
  position: relative;
}

nav .inactive::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--theme_blue);
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
}

nav .inactive:hover::before {
  transform: scaleX(1);
}
nav .inactive:hover {
  color: var(--hover_white);
}

/* dropdown */

.dropdown {
  width: 100%;
  height: auto;
  background-color: var(--theme_grey);
  position: absolute;
  top: 100%;
  left: 0;
  padding: .5rem;
  display: none;
  justify-content: center;
}

nav li:hover .dropdown {
  display: flex;
}

.dropdown ul {
  position: relative;
  padding-left: .5rem;
}

.dropdown ul::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0%;
  left: 0%;
  background: linear-gradient(to bottom, var(--theme_white), var(--theme_grey));
}

.dropdown li {
  height: 70%;
}

.dropdown-links {
  color: var(--theme_white);
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  position: relative;
  display: block;
  margin: 0px .5rem;
  padding: .5rem;
  padding-left: 0;
  padding-top: 0;
}


.dropdown-links::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--theme_blue);
  transform: scaleX(0);
  transform-origin: left;
  transition: 250ms ease-in-out;
}
.dropdown-links:hover::before {
  transform: scaleX(1);
}

.dropdown-links:hover {
  color: var(--hover_white);
}

/* Additional Dropdown Styling */

.dropdown-left,
.hamburger-left,
#hamburger-menu .left {
  width: 30%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--theme_black);
}

.dropdown-right,
.hamburger-right,
#hamburger-menu .right {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: .5rem;
  padding-left: 1.75rem;
  background-color: var(--theme_grey);
}

.dropdown h1
 {
  font-family: "Roboto", sans-serif;
  font-size: 1.75rem;;
  font-weight: 500;
  text-decoration: none;
  margin: .5rem;
  color: var(--theme_blue);
}

.dropdown ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dropdown li {
display: flex;
  padding: 0;
  margin: 3px 0px;
}



.accommodation-links,
.inclusions-links,
.resort-links,
.special-links {
  margin-top: 1.5rem;
}


/* Accomodation */

#accommodation img {
  width: 75%;
  height: 75%;
  border: .5rem solid var(--theme_blue);
  display: block;
}

/* Inclusions */

.inclusions-links {
  display: flex;
}

.inclusions-links ul{
  margin-right: 3rem;
}

.right_elements {
  height: 100%;
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-5%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.right_elements > a {
  margin: 1.25rem;
}

.book_now {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  text-align: center;
  color: var(--theme_white);
  padding: .5rem 1rem;
  display: block;
  background-color: rgba(0, 120, 171, 0.85);
  border-radius: 50em;
}

.book_now:hover {
  background-color: var(--theme_blue);
  transition: 250ms;
}

.hamburger {
  width: 1.8rem;
  height: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.hamburger > span {
  width: 100%;
  height: 3px;
  background: var(--theme_white);
}

.hamburger:hover span{
  background-color: var(--hover_white);
}


.hamburger.open .bar2 {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.hamburger.open .bar1 {
  transform: rotate(45deg) translate(35px, -35px);
}
.hamburger.open .bar3 {
  transform: rotate(-45deg) translate(35px, 35px);
}
















/* Hamnurger Menu */

#hamburger-menu {
  width: 100%;
  height: 1000px;
  position: absolute;
  top: 100%;
  display: none;
  justify-content: center;
  background-color: var(--theme_grey);
}


.hamburger-left {
  width: 30%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
}


.hamburger-social{
  margin: 1.5rem;
  margin-left: 0;
}


.hamburger-social h1{
  font-family: "Roboto", sans-serif;
  font-size: 2rem;;
  font-weight: 500;
  text-decoration: none;
  margin: .5rem;
  color: var(--theme_blue);
}


.hamburger-social a{
  text-decoration: none;
}

.hamburger-social img{
  margin: .3rem;
  border-radius: 50%;
  width: 20%;
  transition: 100ms;
}

.hamburger-right{
  width: 70%;
  height: auto;
  overflow-y: scroll;
}

.hamburger-links-top{
  margin-top: 5rem;
}

.hamburger-links-top ul,
.hamburger-links-bottom ul{
  display: flex;
  margin: 1rem;
}

.hamburger-items{
  margin: .5rem;
}

.hamburger-items > a{
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  text-decoration: none;
  display: block;
  padding: .5rem;
  padding-left: 2px;
  color: var(--hover_white);
  transition: 250ms;
  visibility: ;
}

.hamburger-items > a:hover{
  color: var(--theme_blue);
}

.hamburger-items ul{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1rem;
  margin-right: 2.5rem;
  padding-left: .5rem;
  position: relative;
}

.hamburger-items ul::before{
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0%;
  left: 0%;
  background: linear-gradient(to bottom, var(--theme_white), var(--theme_grey));
}

.hamburger-sub-items{
  display: flex;
  justify-content: flex-start;
  margin: 5px 0px;
}

.hamburger-sub-items a{
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  display: block;
  padding: 5px;
  padding-left: 2px;
  padding-top: 0px;
  position: relative;
  color: var(--theme_white);
}

.hamburger-sub-items a::before {
  content: "";
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--theme_blue);
  transform: scaleX(0);
  transition: 0.3s ease-in-out;
  transform-origin: left;
}

.hamburger-sub-items a:hover::before {
  transform: scaleX(1);
}
.hamburger-sub-items a:hover {
  color: var(--hover_white);
}














/* @media (max-width: 1440px)  {
  
  

  nav a{
    font-size: 1.25rem;
  }

  .book_now{
    font-size: 1rem;
  }
}

@media (max-height: 900px) {
  header{
    height: 12%;
  }
}


@media (max-width: 1100px){
  nav {
    display: none;
  }
}



@media (max-width: 700px) {
  .header1-content {
    margin-right: 5%;
  }

  .right_elements {
    right: 0%;
  }

  .right_elements > a {
    margin: .5rem;
  }

  /* .book_now {
    padding: 5px 10px;
  }
} */ */





@media (min-width:320px)  { /* Mobile-portrait
  */ 
  
}
@media (min-width:480px)  { /* Mobile-landscape (and larger)
  */ }
@media (min-width:768px)  { /* Tablet-portrait (and larger)
  */ }
@media (min-width:992px)  { /* Tablet-landscape (and larger)
  */
  
}
@media (min-width:1200px) { 
  /* Laptops (and langer)
 */ }